.ProjectsComp-container {
  width: 100%;
  background: #031935;
  padding-top: 5rem;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.project-head-txt {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
  margin-left: 10.5rem;
}

.project-container {
  position: relative;
  width: 63rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  background: #003270;
  display: flex;
  gap: 5rem;
  margin-bottom: 4rem;
  overflow: hidden;
}

.project-writing {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* justify-content: space-between; */
  padding: 20px;
}

.project-header {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.00) 253.1%);
  color: #003270;
  font-family: 'montserrat', sans-serif;
  padding: 5px;
  width: 12em;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.project-pg {
  width: 30em;
  color: rgba(255, 255, 255, 0.96);
  font-family: 'montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  z-index: 2;
}

.project-btn button{
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(283deg, rgba(249, 91, 175, 0.70) 15.75%, rgba(255, 250, 253, 0.31) 140.23%);
  backdrop-filter: blur(6px);
  padding: 10px 15px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.circle-segments {
  display: flex;
  gap: 10px;
  margin-left: 3px;
}

.circle-1 {
  height: 2rem;
  width: 2rem;
  background: linear-gradient(to bottom left, rgba(236, 38, 143, 1), rgba(252, 240, 253, 0.1));
  border-radius: 50px;
  
}
.circle-2 {
  height: 2rem;
  width: 2rem;
  background: linear-gradient(rgba(247, 210, 251, 1), rgba(252, 240, 253, 0.1));
  border-radius: 50px;
}

.project-img {
  width: 20em;
  height: 20em;
  /* margin-top: -4rem; */
  margin-top: 10px;
  margin-left: 8rem;
  margin-bottom: 10px;
  z-index: 3;
  padding-right: 10px;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lane-shape {
  left: 33em;
  transform: rotate(20deg);
  position: absolute;
  width: 4.5rem;
  height: 40em;
  top: -50px;
  background-color: #064086;
  border: 15px solid rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 1052px){
  .project-pg {
    width: 30em;
    color: rgba(255, 255, 255, 0.96);
    font-family: 'montserrat', sans-serif;
    font-size: 13px;
  }

  .project-container {
    position: relative;
    width: 53rem;
    margin-bottom: 4rem;
    overflow: hidden;
  }

  .lane-shape {
    left: 26em;
    transform: rotate(20deg);
    position: absolute;
    width: 4.5rem;
    height: 40em;
    top: -50px;
    background-color: #064086;
    border: 15px solid rgba(255, 255, 255, 0.05);
  }
  .project-head-txt {
    margin-left: 2em;
  }

}

@media screen and (max-width: 879px) {
  .project-container {
    position: relative;
    width: 50em;
  }

  .project-head-txt {
    margin-left: 10px;
  }
}

@media screen and (max-width: 840px) {
  .project-container {
    width: 44em;
    gap: 0em;
  }
}

@media screen and (max-width: 740px) {
  .project-container {
    width: 40em;
    gap: 0em;
  }

  .lane-shape {
    left: 15em;
    transform: rotate(20deg);
    position: absolute;
    width: 4.5rem;
    height: 40em;
    top: -50px;
    background-color: #064086;
    border: 15px solid rgba(255, 255, 255, 0.05);
  }

  .project-img {
    width: 30em;
    /* margin-top: -4rem; */
    /* margin-top: 10px;
    margin-left: 8rem;
    margin-bottom: 10px; */
    margin-left: 4rem;
    z-index: 3;
    padding-right: 20px;
  }
}

@media screen and (max-width: 655px) {
  .project-container {
    width: 30em;
    gap: 0em;
  }

  .project-img{
    display: none;
  }

  .project-head-txt {
    text-align: center;
  }
}

@media screen and (max-width: 590px) {
  .project-container {
    width: 100%;
    gap: 0em;
  }

  .project-img{
    display: none;
  }

  .project-head-txt {
    text-align: center;
  }

  .project-header {
    padding: 5px;
    width: 10em;
  }

  .project-header h1 {
    font-size: 17px;
  }

  .project-head-txt {
    font-size: 2em;
  }

  .project-pg {
    width: 100%;
  }
}

