.ProjectsComp-container {
  width: 100%;
  background: #031935;
  padding-top: 5rem;
}

.projects-main-container {
  max-width: 90rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding:0 5rem;
}

.project-head-txt {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.project-container {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  background: #003270;
  display: flex;
  gap: 5rem;
  margin-bottom: 4rem;
  overflow: hidden;
}

.project-writing {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.project-header {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.00) 253.1%);
  color: #003270;
  font-family: 'Telex', sans-serif;
  padding: 5px;
  width: 12em;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.fade-in-hd {
  opacity: 0;
  animation: projectHeaderfadeIn 0.3s forwards;
}

@keyframes projectHeaderfadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-pg {
  width: 30em;
  color: rgba(255, 255, 255, 0.96);
  font-family: 'telex', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  z-index: 2;
}

.project-pg.fade-in-pg {
  opacity: 0;
  animation:  ProjectPgfadeIn 0.5s forwards;
}

@keyframes ProjectPgfadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-btn button{
  color: #fff;
  padding: 16px 40px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(283deg, rgba(249, 91, 175, 0.70) 15.75%, rgba(255, 250, 253, 0.31) 140.23%);
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.circle-segments {
  display: flex;
  gap: 10px;
  margin-left: 3px;
}

.circle-1, .circle-2, .circle-3, .circle-4, .circle-5 {
  height: 1.4rem;
  width: 1.4rem;
  background: linear-gradient(to bottom left, rgb(224, 221, 223), rgba(252, 240, 253, 0.1));
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'montserrat', sans-serif;
  font-size: 20px;
  color: #FFF;
  transition: all .3s ease-in-out;
  font-weight: bold;
  z-index: 300;
}

.circle-1:hover {
  color: #000;
}

.circle-2:hover {
  color: #000;
}
.circle-3:hover {
  color: #000;
}
.circle-4:hover {
  color: #000;
}
.circle-5:hover {
  color: #000;
}

.active-index {
  background: linear-gradient(to bottom left, rgba(236, 38, 143, 1), rgba(252, 240, 253, 0.1));
}

.project-img {
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 3;
  padding-right: 10px;
}

.fade-in-img {
  opacity: 0;
  animation: ImgHeaderfadeIn 0.5s forwards;
}

@keyframes ImgHeaderfadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.project-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lane-shape {
  left: 28.8em;
  transform: rotate(20deg);
  position: absolute;
  width: 4.5rem;
  height: 40em;
  top: -50px;
  background-color: #064086;
  border: 15px solid rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 1052px){
  .project-pg {
    width: 30em;
    color: rgba(255, 255, 255, 0.96);
    font-family: 'montserrat', sans-serif;
    font-size: 13px;
  }

  .project-container {
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
    overflow: hidden;
  }

  .lane-shape {
    left: 26em;
    transform: rotate(20deg);
    position: absolute;
    width: 4.5rem;
    height: 40em;
    top: -50px;
    background-color: #064086;
    border: 15px solid rgba(255, 255, 255, 0.05);
  }

}

@media screen and (max-width: 879px) {
  .project-container {
    position: relative;
    width: 100%;
  }

  .project-head-txt {
    margin-left: 10px;
  }
}

@media screen and (max-width: 840px) {
  .project-container {
    width: 100%;
    gap: 0em;
  }

}

@media screen and (max-width: 758px) {
  .project-img{
    display: none;
  }
}



@media screen and (max-width: 740px) {
  .project-container {
    width: 100%;
    gap: 0em;
  }

  .lane-shape {
    left: 15em;
    transform: rotate(20deg);
    position: absolute;
    width: 4.5rem;
    height: 40em;
    top: -50px;
    background-color: #064086;
    border: 15px solid rgba(255, 255, 255, 0.05);
  }

}

@media screen and (max-width: 655px) {
  .project-container {
    width: 30em;
    gap: 0em;
  }


  .project-head-txt {
    text-align: center;
  }

  .projects-main-container {
    padding:0 1.5rem;
  }
}

@media screen and (max-width: 590px) {
  .project-container {
    width: 100%;
    gap: 0em;
  }

  .project-img{
    display: none;
  }

  .project-head-txt {
    text-align: center;
  }

  .project-header {
    padding: 5px;
    width: 10em;
  }

  .project-header h1 {
    font-size: 17px;
  }

  .project-head-txt {
    font-size: 2em;
  }

  .project-pg {
    width: 100%;
  }
}

