.TestimonialsComp-container{
  background: #06326b;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding-bottom: 3rem;
}

.testimonials-container {
  width: 100%;
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 5rem;
}

.testimonial-header {
  padding-top: 1.8em;
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
}

.testimonial-box {
  border-radius: 0.5rem;
  background: #FFF;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.testimony {
  width: 20em;
}

.profile-img {
  width: 4em;
  height: 4em;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.profile-name {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
}

.profile-portfolio {
  color: rgba(0, 0, 0, 0.71);
  font-family: 'montserrat', sans-serif;
  font-size: 10px;
  /* font-style: normal;
  font-weight: 400; */
}

.testimony {
  color: rgba(0, 0, 0, 0.71);
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: -0.02rem;
  line-height: normal;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 14px;
}


@media screen and (max-width: 1209px) {
  .profile-name {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
  }
  
  .profile-portfolio {
    color: rgba(0, 0, 0, 0.71);
    font-family: 'montserrat', sans-serif;
    font-size: 8px;
  }
  
  .testimony {
    color: rgba(0, 0, 0, 0.71);
    font-family: 'poppins', sans-serif;
    font-size: 13px;
    letter-spacing: -0.02rem;
    line-height: normal;
  }
  
}

@media screen and (max-width: 915px) {
  .testimonials-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 14px;
  }
}

@media screen and (max-width: 915px) {

  .profile-name {
    font-size: 11px;
  }
  
  .profile-portfolio {
    font-size: 7px;
  }

  .testimony {
    font-size: 12px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 590px) {
  .testimonials-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    row-gap: 14px;
    padding: 0 1.5rem;
  }


  .testimonial-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimony {
    font-size: 14px;
    /* padding-right: 8px; */
    text-align: center;
    width: 90%;
  }

  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .profile-img {
    width: 6em;
    height: 6em;
  }

  .profile-name {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .profile-portfolio {
    font-size: 10px;
  }

}


@media screen and (max-width: 400px) {

  .testimonials-container {
    padding: 0 1.5rem;
  }

  .profile-name {
    font-size: 15px;
  }

  .profile-portfolio {
    font-size: 8px;
  }

  .testimony {
    font-size: 13px;
  }
}


@media screen and (max-width: 350px) {
  .testimony {
    font-size: 10px;
  }
}
